.restaurant {
    background: var(--background-color-dark);
    border: 1px solid var(--background-color-dark);
    border-radius: 10px;
}
.restaurant-header {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
}
.restaurant-header > h2 {
    font-size: 24px;
    color: var(--text-color);
    padding: 0 10px;
}
.restaurant-header svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.search-input-container {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--background-color-dark);
    padding: 0 20px;
}
.search-input-container > svg {
    width: 20px;
    height: 20px;
}
.search-input {
    flex: 1;
    height: 100%;
    font-size: 16px;
    color: var(--text-color);
    background: transparent;
    padding: 0 10px;
    border-width: 2px 0;
    border-style: solid;
    border-color: transparent;
}
.search-input:focus {
    outline: none;
    border-bottom: 2px solid var(--text-highlight);
}

.search-results {
    position: absolute;
    top: 100%;
    right: 0;
    width: calc(100% - 50px);
    height: fit-content;
    max-height: 200px;
    background: var(--background-color-dark);
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    overflow-y: auto;
    z-index: 100;
}
.search-result {
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.search-result:hover,
.search-result.active {
    background-color: var(--background-color-bright);
}
.restaurant-body {
    background: var(--background-color);
    padding: 20px;
    opacity: 0.3;
}
.restaurant.active .restaurant-body {
    opacity: 1;
}
.restaurant-body > p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background: var(--background-color-dark);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.restaurant-body > p:first-child {
}
.restaurant-body > p:last-child {
    margin-bottom: 0;
}

.restaurant-footer {
    width: 100%;
    height: 30px;
}

/* 별점 스타일링 */
.ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.star {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

.star.filled,
.star:hover {
    color: #f1c40f;
}
.star:hover {
    transform: scale(1.2);
}
.rating-instruction {
    margin-left: 10px;
    font-size: 14px;
    color: #666;
    font-style: italic;
    transition: color 0.3s ease, transform 0.2s ease;
}

.rating-instruction.highlight {
    color: #007bff;
    font-weight: bold;
    transform: scale(1.1);
}

/* 이미지 업로드 영역 */
.image-upload {
    padding: 10px;
    height: 120px;
    background-color: var(--background-color-dark);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    position: relative;
}

.image-preview-grid {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.image-thumbnail-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.image-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.file-input {
    display: none;
}

/* 업로드 버튼 스타일 */
.upload-label {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff3;
    border: 2px dashed #ccc;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s, border-color 0.3s;
}
.upload-label svg {
    width: 30px;
    height: 30px;
    color: var(--text-secondary);
}
.upload-label:hover {
    color: var(--text-color);
    background-color: var(--background-color-bright);
    border-color: #007bff;
}

/* 말풍선 텍스트 */
.upload-label::before {
    content: 'photo upload';
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.upload-label:hover::before {
    opacity: 1;
    visibility: visible;
}

.textarea {
    width: 100%;
    height: 100px;
    font-size: 14px;
    background: var(--background-color-dark);
    padding: 20px;
    border: 0;
    border-radius: 0 0 5px 5px;
    margin-bottom: 20px;
    resize: none;
}
.textarea:focus {
    outline: none;
    border-color: var(--text-highlight);
}

.recommend-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.recommend-button:hover {
    background-color: #45a049;
}

.close-button {
    background: transparent;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s;
}

.close-button:hover {
    color: red;
}

.review-btn {
    margin-left: 20px;
}
.buttons {
    display: flex;
    justify-content: flex-end; /* 버튼들을 오른쪽으로 정렬 */
    margin-top: 20px;
    gap: 10px; /* 버튼 간 간격 설정 */
}

.buttons button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:first-child {
    background-color: #ccc;
    color: #333;
}

.buttons button:last-child {
    background-color: #007bff;
    color: white;
}

.buttons button:hover {
    background-color: #0056b3;
}

.buttons button:first-child:hover {
    background-color: #b3b3b3; /* 취소 버튼 호버 색상 */
}

.buttons button:last-child:hover {
    background-color: #0056b3; /* 전송 버튼 호버 색상 */
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}