.chat {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    background: var(--background-color-bright);
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 10px #0003;
    overflow: hidden;
    transform: translateX(100%);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    z-index: 1;
}
.chat.active {
    transform: translateX(0);
    opacity: 1;
}
.header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--background-color-dark);
}
.profile {
    flex: none;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}
.info > h3 {
    font-size: 24px;
    text-align: left;
    margin: 0;
}
.info > h4 {
    align-self: flex-end;
    margin: 0 0 0 auto;
    opacity: 0.75;
}

.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}
.input {
    width: 100%;
    height: 40px;
    display: flex;
}
.input > input {
    flex: 1;
    color: var(--text-color);
    background: var(--background-color-dark);
    padding: 0 15px;
    border: none;
    outline: none;
}
.input > button {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.input > button > svg {
    width: 16px;
    height: 16px;
}



@media (max-width: 700px) {
    .chat {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}