@font-face {
    font-family: 'ChosunBg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gyeonggi_Batang_Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* todo: 고딕 폰트가 한자 일부 지원 안함, 전체적으로 생긴게 좀 구림 */
:root {
    --font-heading: 'ChosunBg', sans-serif;
    --font-minjo: 'Gyeonggi_Batang_Regular', serif;
    --font-gothic: 'S-CoreDream-3Light', sans-serif;
}