@import "./fonts.css";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    color: var(--text-color);
    background-color: var(--background-color);
    place-items: center;
    margin: 0;

    --menu-height: 50px;
    --full-height: calc(100vh - var(--menu-height));

    --main-color: #F54A2A;
    --sub-color: #FFD500;

    --text-color: #2a2a2a;
    --text-highlight: #4A7AC5;
    --text-link: #4aAA4a;

    --background-color: #f9f9f9;
    --background-color-sub: #E0E0E0;
}
body.dark {
    --text-color: #f9f9f9;
    --text-highlight: #8AAAF5;
    --text-link: #AAFFAA;

    --background-color: #2a2a2a;
    --background-color-sub: #555555;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

main {
    position: relative;
    width: 100%;
    max-width: 900px;
    background-size: cover;
    background-position: center;
    padding: 40px;
    margin: 0 auto;
    overflow: scroll;
}
main.max {
    max-width: unset;
    padding: 0;
}

a {
    font-weight: 500;
    color: var(--text-link);
    text-decoration: inherit;
}
a:hover {
    color: var(--text-highlight);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading), sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background: var(--background-color-sub);
    padding: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
}
button:hover {
}
button:focus,
button:focus-visible {
    outline: none;
}


