.menu {
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: var(--background-color);
    border-radius: 10px;
    cursor: pointer;
    z-index: 101;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px) brightness(0.8);
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}
.header {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-family: var(--font-heading), sans-serif;
    background-color: var(--background-color);
    padding: 0 20px 0 0;
    z-index: 100;
}
.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 30px;
    background: linear-gradient(0deg, transparent, var(--background-color));
    z-index: 1;
}
.logo {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}
.logo > img {
    width: fit-content;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.logo > h1 {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
}
.nav {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}
.admin-container {
    position: relative;
    width: 80px;
    height: 100%;
}
.admin-button {
    flex: none;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-heading), sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}
.admin-button:hover {
    color: var(--text-highlight);
    background: transparent;
}
.admin {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-200%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--background-color-sub);
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s all;
    z-index: 2;
}
.admin.active {
    transform: translateX(-50%);
    pointer-events: all;
    opacity: 1;
}
.admin > a {
    flex: 1;
    width: unset;
    padding: 10px;
}
.controller {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.color {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark {
    display: none;
}
.dark + label {
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
}
.dark + label > span {
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--text-color);
    transition: 0.3s;
}
.dark:checked + label {
    background: #646cff;
}
.dark:checked + label > span {
    left: calc(100% - 24px - 3px);
}
.icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    pointer-events: none;
}
.icon > svg {
    flex: none;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: black;
    margin: auto;
    opacity: 0.8;
}
.icon > svg:first-child {
    color: white;
}
.icon > svg:last-child {
    color: black;
}
.lang {
    position: relative;
    flex: none;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}
.lang > button {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    border-radius: 10px;
    overflow: hidden;
}
.lang > button:hover {
    background: var(--background-color);
}
.lang > button > svg {
    height: 20px;
    object-fit: cover;
}
.lang > button > svg:first-child {
    width: 20px;
}
.lang > button > svg:last-child {
    flex: 1;
}
.languages {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    display: flex;
    gap: 5px;
    background: var(--background-color-sub);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -100%);
    transition: 0.3s all;
    z-index: 2;
}
.languages.opened {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%, 0);
}
.languages > button {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    filter: brightness(0.8) grayscale(1);
    overflow: hidden;
}
.languages > button.active,
.languages > button:hover {
    filter: brightness(1);
}
.languages > button.active::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-bottom: 4px solid #646cff;
    box-sizing: border-box;
    z-index: 1;
}
.languages > button > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login {
    flex: none;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    background: var(--background-color-sub);
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
.login:hover {
    background: var(--background-color);
}
.context {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 40px;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--background-color-sub);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    z-index: 2;
}
.context.active {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

.narrow .menu {
    display: flex;
}
.narrow .header {
    position: fixed;
    top: 0;
    left: calc(-1 * var(--inner-width));
    width: var(--inner-width);
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    background: linear-gradient(90deg, var(--background-color) var(--inner-width), transparent var(--inner-width));
    padding: 80px 20px;
    z-index: 100;
    transition: left 0.3s, backdrop-filter 0.3s;
    --inner-width: 300px;
}
.narrow .header.active {
    left: 0;
    backdrop-filter: blur(10px) brightness(0.8);
}
.narrow .header.active + .backdrop {
    opacity: 1;
    pointer-events: auto;
}
.narrow .logo {
    flex: none;
    width: 100%;
    justify-content: center;
}
.narrow .nav {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin: 0;
}
.narrow .controller {
    width: 100%;
    justify-content: space-between;
}
.narrow .languages {
    top: unset;
    bottom: 50px;
    transform: translate(-50%, 100%);
}
.narrow .languages.opened {
    transform: translate(-50%, 0);
}
.narrow .context {
    top: unset;
    right: 0;
    bottom: calc(100% + 10px);
    left: unset;
    transform: translateY(100%);
}
.narrow .context.active {
    transform: translateY(0);
}