.menu {
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: var(--background-color);
    border-radius: 10px;
    cursor: pointer;
    z-index: 101;
}
.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-family: var(--font-heading), sans-serif;
    background-color: var(--background-color);
    padding: 0 20px 0 0;
    border-bottom: 1px solid var(--background-color-sub);
}
.logo {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 0 20px;
}
.logo > img {
    width: fit-content;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.logo > h1 {
    font-size: 24px;
    font-weight: 500;
}
.nav {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}
.nav > a {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}
.color {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark {
    display: none;
}
.dark + label {
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dark + label > span {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    transition: 0.3s;
}
.dark:checked + label {
    background: #646cff;
}
.dark:checked + label > span {
    left: calc(100% - 35px);
}
.icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0.6;
    z-index: 1;
    pointer-events: none;
}
.icon > svg {
    flex: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: black;
    margin: auto;
}
.dark:not(:checked) + label + .icon > svg:first-child,
.dark:checked + label + .icon > svg:last-child {
    color: black;
}
.dark:checked + label + .icon > svg:first-child,
.dark:not(:checked) + label + .icon > svg:last-child {
    color: white;
}
.lang {
    flex: none;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}
.lang > button {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    filter: brightness(0.8) grayscale(1);
    overflow: hidden;
}
.lang > button.active,
.lang > button:hover {
    filter: brightness(1);
}
.lang > button.active::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-bottom: 4px solid #646cff;
    box-sizing: border-box;
    z-index: 1;
}
.lang > button > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login {
    flex: none;
    width: 140px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    background: var(--background-color-sub);
    border-radius: 4px;
    text-transform: uppercase;
}

.narrow .menu {
    display: flex;
}
.narrow .header {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    background: linear-gradient(90deg, var(--background-color) var(--inner-width), transparent var(--inner-width));
    padding: 80px 0;
    z-index: 100;
    transition: left 0.3s, backdrop-filter 0.3s;
    --inner-width: 300px;
}
.narrow .header.active {
    left: 0;
    backdrop-filter: blur(10px) brightness(0.8);
}
.narrow .logo {
    flex: none;
    width: var(--inner-width);
    justify-content: center;
}
.narrow .nav {
    width: var(--inner-width);
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin: 0;
}
.narrow .header > div {
    width: var(--inner-width);
    justify-content: center;
}
.narrow .login {
    margin: 0 0 0 calc((var(--inner-width) - 100px) / 2);
}